// Defining font family
$fontDefault: Helvetica, Arial, sans-serif;
$roboto: "Roboto", Helvetica, sans-serif;
$oswald: "Oswald", Helvetica, sans-serif;


$fontSize: 10px;

$fontSizeSml: 12px;
$fontSizeMed: 14px;
$fontSizeWide: 14px;
$lineHeight: 1.3; /* 13px */


