/**
*
* Global
*
**/

* {
  @include prefixr(box-sizing, border-box);
}

html, body, button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font-family: $fontDefault;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $white;
}
img{
  display: block;
}
