//
// Layout: Navigation
// --------------------------------------------------

.Navigation {
    background: $color-brown;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow 200ms;
    transform: translate3d(100%, 0, 0);
    width: 270px;
    z-index: 1;

    .page.is-pushed & {
        box-shadow: -10px 0px 80px 0 rgba(0, 0, 0, 0.4);
    }

    @include mq(large) {
        background: transparent;
        height: auto;
        margin-right: -500px;
        padding: 0;
        overflow-y: visible;
        right: 50%;
        top: 25px;
        transform: translate3d(0, 0, 0);
        width: 1000px;

        .page.is-pushed & {
            box-shadow: none !important;
        }
    }
}

.Navigation-list {
    padding-bottom: 15px;

    .Navigation--userConnected & {
        border-top: 1px solid $color-light-brown;
    }

    li {
        border-bottom: 1px solid $color-light-brown;
    }

    a {
        color: #fff;
        display: block;
        @include font-size(13);
        font-style: italic;
        font-weight: $font-weight-heavy;
        @include line-height(13, 50);
        padding-left: 30px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }

    [class^="g-"]:before {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @include mq(large) {
        padding-bottom: 0;
        text-align: right;

        .Navigation--userConnected & {
            border-top: 0;
        }

        li {
            border-bottom: 0;
            border-left: 1px solid $color-grey;
            display: inline-block;
            padding: 10px 15px;

            &:first-child {
                border-left: 0;
            }
        }

        a {
            color: $default-text-color;
            @include font-size(15);
            line-height: 1;
            padding-left: 0;
            position: relative;

            .page--contributor &,
            .page--idea & {
                color: #fff;
            }

            @include states(is-active) {
                &:after {
                    background: $color-red;
                    bottom: -4px;
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    right: 0;
                    width: 100%;
                }
            }
        }

        [class^="g-"] {
            display: none;
        }
    }
}

.Navigation-quick,
.Navigation__user {
    @include mq(large) {
        display: none !important;
    }
}

.Navigation__user {
    padding: 45px 0 0 !important;
}

[class^="g-"]:before {
    .Navigation-connect & { @include font-size(18); }
    .Navigation-ideas & { @include font-size(18); }
    .Navigation-manifesto & { @include font-size(22); }
    .Navigation-howitworks & { @include font-size(18); }
    .Navigation-quick & { @include font-size(16); }
    .Navigation-disconnect & { @include font-size(10); }
}
