/**
*
* Main Stylesheet
*
**/
$path: '../images/layout/';

@import url("//fonts.googleapis.com/css?family=Roboto:400,300,700,900");
@import url("//fonts.googleapis.com/css?family=Oswald:400,300");


@import "_mixins/mixins";
@import "_variables/variables";
@import "_default/default";




@import "../javascript/views/sections/home/home";
@import "../javascript/views/layout/header/header";

body{
  color:#000;
  font-size: 16px;
}