@font-face {
  font-family: "iconFont";
  src: url('../fonts/iconFont.eot');
  src: url('../fonts/iconFont.eot?#iefix') format('eot'),
    url('../fonts/iconFont.woff') format('woff'),
    url('../fonts/iconFont.ttf') format('truetype'),
    url('../fonts/iconFont.svg#iconFont') format('svg');
}

%icon {
  font-family: "iconFont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == back {
    $char: "\E001";
  }
  @if $filename == calendrier {
    $char: "\E002";
  }
  @if $filename == close {
    $char: "\E003";
  }
  @if $filename == comment {
    $char: "\E004";
  }
  @if $filename == facebook {
    $char: "\E005";
  }
  @if $filename == google {
    $char: "\E006";
  }
  @if $filename == hash {
    $char: "\E007";
  }
  @if $filename == heart {
    $char: "\E008";
  }
  @if $filename == instagram {
    $char: "\E009";
  }
  @if $filename == like {
    $char: "\E00A";
  }
  @if $filename == open {
    $char: "\E00B";
  }
  @if $filename == pinterest {
    $char: "\E00C";
  }
  @if $filename == present {
    $char: "\E00D";
  }
  @if $filename == quote-close {
    $char: "\E00E";
  }
  @if $filename == quote-open {
    $char: "\E00F";
  }
  @if $filename == twitter {
    $char: "\E010";
  }

  @return $char;
}

@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @extend %icon;
    content: icon-char($filename);
  }
}

.icon-back {
  @include icon(back);
}
.icon-calendrier {
  @include icon(calendrier);
}
.icon-close {
  @include icon(close);
}
.icon-comment {
  @include icon(comment);
}
.icon-facebook {
  @include icon(facebook);
}
.icon-google {
  @include icon(google);
}
.icon-hash {
  @include icon(hash);
}
.icon-heart {
  @include icon(heart);
}
.icon-instagram {
  @include icon(instagram);
}
.icon-like {
  @include icon(like);
}
.icon-open {
  @include icon(open);
}
.icon-pinterest {
  @include icon(pinterest);
}
.icon-present {
  @include icon(present);
}
.icon-quote-close {
  @include icon(quote-close);
}
.icon-quote-open {
  @include icon(quote-open);
}
.icon-twitter {
  @include icon(twitter);
}