// Defining breakpoints

$small: 401px;
$medium: 768px;
$wide: 1024px;
$huge: 1280px;

@mixin mq($media-query) {
  @if $media-query == small {
    @media only screen and (min-width:$small) { @content; }
  }

  @if $media-query == medium {
    @media only screen and (min-width:$medium) { @content; }
  }

  @if $media-query == wide {
    @media only screen and (min-width:$wide) { @content; }
    .ie &{
      @content;
    }
  }

  @if $media-query == huge {
    @media only screen and (min-width:$huge) { @content; }
  }
}
