<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vuejs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browserupgrade">Pour naviguer sur ce site dans de bonnes conditions nous vous recommandons de <a href="http://browsehappy.com/">mettre à jour votre navigateur</a>.</p>
    <![endif]-->
    <header v-component="header"></header>
    <nav v-component="navigation"></nav>
    <div class="page--{{currentPage}}" v-component="{{currentPage}}" v-ref="page" v-with="data:content" keep-alive>
    </div>

    <footer v-component="footer"></footer>

    <script src="/assets/js/app.js"></script>


</html>
